# Server
PORT=3001

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wix_hubspot"
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wix_hubspot_test"

# Redis
REDIS_URL="redis://localhost:6379"

# Wix App
WIX_APP_ID=dfe459ef-78fb-47ed-a6b5-d106dfd2b938
WIX_APP_SECRET=3e569aaa-8caf-464e-8013-3ae0fab7160b
WIX_API_KEY=IST.eyJraWQiOiJQb3pIX2FDMiIsImFsZyI6IlJTMjU2In0.eyJkYXRhIjoie1wiaWRcIjpcIjMzOGRkNjI3LTE0NjQtNDhhNy1hODc4LWI3YWY0OGJlNTUyY1wiLFwiaWRlbnRpdHlcIjp7XCJ0eXBlXCI6XCJhcHBsaWNhdGlvblwiLFwiaWRcIjpcImE4YTlmNzY3LTgyOWUtNGMyOS1hNTFlLWE3ODEzNTJiMDkxNlwifSxcInRlbmFudFwiOntcInR5cGVcIjpcImFjY291bnRcIixcImlkXCI6XCIyM2M3ZjA3YS04ZjE5LTRiNGUtYTgxMC02MzJkZTg3YmRmMTNcIn19IiwiaWF0IjoxNzc1MTMzOTI2fQ.f5DcHRy3GIn2OzQ5TZd4DBXVSzI4yVbcfmOq9veCbBoi4FupFidtHpO6TMr3OwRGHj6w4kX-2CfOJFzxVlu6RpgQwM9kp_9B0YSFx8CHd4jEMepNGpuCr8UKfgFv_KDGeElmZTBDlmmwp6rbeoaCyp3asT3hjvROJDp3KDHqbtBXljcDdYGQjRc6XOAC3E_Sh94rQxM1OxEt8v1_c3SMinVvath8W3VvxA6TZLGKP5vrGkUsY08w82A6MgjQgiLea1-qX7YXOBnwRWPPHjvq243mYglg3U9Bffwacy3vkWFT5LZJI5E-dpKOtEIIJwN7e5q0gKPeJJE3tplJv9IVCA

# HubSpot App
HUBSPOT_CLIENT_ID=1feef265-7a92-491f-9131-82bbceea2abe
HUBSPOT_CLIENT_SECRET=d9b7c4b8-f3a8-435d-bfa6-19a895dea4e5
HUBSPOT_REDIRECT_URI=http://localhost:3001/oauth/hubspot/callback